
 <form action="{{ path(routeName) }}"  method="post">
    <table class="table table-bordered table-condensed">
        <thead>
            <tr>
                <th class="submitted" style="background-color: #4b0082"><input type="radio" name="legalCaseStatus" id="submitted" value="{{ status.submitted }}" {% if statusChecked == status.submitted %}checked{% endif %}></th>						
                <th class="submittedLegend"><label for="submitted"> {% trans %}Soummis{% endtrans %}</label></th>
				
				<th class="categorized" style="background-color: #964B00"><input type="radio" name="legalCaseStatus" id="categorized" value="{{ status.categorized }}" {% if statusChecked == status.categorized %}checked{% endif %}></th>	
                <th class="categorizedLegend"><label for="categorized"> {% trans %}Catégorisé{% endtrans %}</label></th>
				
				<th  class="assigned" style="background-color: #ffd700"><input type="radio" name="legalCaseStatus" id="assigned" value="{{ status.assigned }}" {% if statusChecked == status.assigned%}checked {% endif %}></th>						
                <th  class="assignedLegend"><label for="assigned"> {% trans %}Attribué{% endtrans %}</label></th>
				
				<th  class="rejected" style="background-color: #f00"><input type="radio" name="legalCaseStatus" id="rejected" value="{{ status.rejected }}" {% if statusChecked == status.rejected%}checked {% endif %}></th>						
                <th  class="rejectedLegend"><label for="rejected"> {% trans %}Rejété{% endtrans %}</label></th>
                
                <th  class="inProgress" style="background-color: #00f"><input type="radio" name="legalCaseStatus" id="inProgress" value="{{ status.inProgress }}" {% if statusChecked == status.inProgress %}checked{% endif %}></th>						
                <th  class="inProgressLegend"><label for="inProgress"> {% trans %}En cours de traitement{% endtrans %}</label></th>	

                <th  class="incomplete" style="background-color: #ff6600"><input type="radio" name="legalCaseStatus" id="incomplete" value="{{ status.incomplete }}" {% if statusChecked == status.incomplete %}checked{% endif %}></th>						
                <th  class="incompleteLegend"><label for="incomplete"> {% trans %}Incomplet{% endtrans %}</label></th>
					
                <th  class="completed" style="background-color: #008000"><input type="radio" name="legalCaseStatus" id="completed" value="{{ status.completed }}" {% if statusChecked == status.completed %}checked {% endif %}></th>						
                <th  class="completedLegend"><label for="completed"> {% trans %}Terminé{% endtrans %}</label></th>
				
                <th  class="legendeFiltrer" style="border: none; text-align: center;"><button class="tooltip-test"  type="submit" name="filtrer"  data-placement="top" title="Filtrer les formalités en fonction de l'état coché">{% trans %}Filtrer{% endtrans %}</button></th>

                <th  class="legendeAfficherTout" style="border: none; text-align: center;"> <a href="{{ path('app_customer_legal_cases') }}" class="tooltip-test"  data-placement="top" title="Afficher toutes les formalités"><button  name="afficherTout">{% trans %}Afficher tout{% endtrans %}</button></a> </th>
				
            </tr>
        </thead>
    </table>
</form><br>