{% extends 'base.html.twig' %}

{% block title %} {% trans %} Demandes {% endtrans %} {% endblock %}



{% block body %}


    <link rel="stylesheet" href="{{asset('build/assets/custom/css/legal_case_status_legende.css')}}">


	{% set nextPage = currentPage + 1 %}
	{% set prevPage = currentPage - 1 %}


	<div class="container" data-aos="fade-up" style="position:relative; width:100%; margin-bottom:50px; margin-top:20px;"> <!-- Beginning of Main Page Container Div -->
		<div class="row">  <!-- Beginning of Main Page Row -->
			{#<div class="col-12" style="overflow-x: auto;"> <!-- Beginning Of Main Col Div -->#}
			<div class="col-12"> <!-- Beginning Of Main Col Div -->
				
					<div class="card-body align-items-center d-flex justify-content-center">
						<div class="section-title">
          					<h4>{{ totalLegalCases }} {% trans %}Dossiers Créés{% endtrans %} </h4>
          					<h5>{% trans %}Page:{% endtrans %} {{currentPage}}/{{pagesCount}}</h5>
        				</div>
					</div>
			
					{% include "include/_legal_case_status_legende.html.twig" with {'routeName': 'app_customer_legal_cases'} %}
					
					{% if totalLegalCases > 0 %} 
				
						{% set legalCaseCount = 1 %}
      					<table cellspacing="0" width="100%"  class="table table-bordered table-striped table-hover">
							<thead>
    							<tr>
            						<th>No.</th>
									<th>{% trans %}Reference{% endtrans %}</th>
									<th>{% trans %}Concerné{% endtrans %}</th>
									<th>{% trans %}Date de création{% endtrans %}</th>
									<th>{% trans %}Catégorie{% endtrans %}</th>
									<th>{% trans %}Etat{% endtrans %}</th>
									<th>{% trans %}Actions{% endtrans %}</th>
    							</tr>
							</thead>	
							<tbody>
								{% for legalCase in paginator %}
									<tr>
              							<td> {{ legalCaseCount }} </td>
										<td> {{ legalCase.referenceNo }} </td>
										<td> {{ legalCase.firstName }} {{ legalCase.lastName }} </td>
										<td> {{ legalCase.creationDate | date('d-m-Y') }} </td>
										<td> 
											{% if legalCase.category is null %}
											{% else %}
												{{ legalCase.category.category }}
											{% endif %}
										</td>
									 
										{% if legalCase.status==status.submitted %}
											<td style="background-color: #4b0082; color: #fff; text-align: center" >
												<div title="{% trans %}Le dossier est soumis au système Mersy SAS {% endtrans %}" class="tooltip-test" data-placement="top">
													<i class="fa fa-folder fa-1x" style='color: white'></i>
												</div>
											</td>
										{% elseif legalCase.status==status.categorized %}
											<td style="background-color: #964B00; color: #fff; text-align: center" >
												<div title="{% trans %}Le dossier est attribué à une catégorie {% endtrans %}" class="tooltip-test" data-placement="top">
													<i class="fa fa-archive fa-1x" style='color: white'></i>
												</div>
											</td>
										{% elseif legalCase.status==status.inProgress %}
											<td style="background-color: #00f; color: #fff; text-align: center" >
												<div title="{% trans %} Ce dossier est en cours de traitement {% endtrans %}" class="tooltip-test" data-placement="top">
													<i class="fa fa-folder-open fa-1x " style='color: white'></i>
												</div>
											</td>
										{% elseif legalCase.status==status.incomplete %}
											<td style="background-color: #ff6600; color: #fff; text-align: center">
												<div title="{% trans %} Le dossier est incomplet, verifiez votre email pour des clarifications  {% endtrans %}" class="tooltip-test" data-placement="top">
													<i class="fa fa-arrow-alt-circle-left fa-1x" style='color: white'></i>
												</div>
											</td >
										{% elseif legalCase.status==status.assigned %}
											<td style="background-color: #ffd700; color: #fff; text-align: center">
												<div title="{% trans %}Ce dossier est attribué à {% endtrans %} {{ legalCase.assignedTo.userDetails.firstName }} {{ legalCase.assignedTo.userDetails.lastName }}" class="tooltip-test" data-placement="top">
													<i class="fa fa-arrow-alt-circle-right fa-1x" style='color: white'></i>
												</div>
											</td>
										{% elseif legalCase.status==status.rejected %}
											<td style="background-color: #f00; color: #fff; text-align: center">
												<div title="{% trans %}Le dossier est rejété par l'expert à qui il est attribué {% endtrans %}" class="tooltip-test" data-placement="top">
													<i class="fa fa-thumbs-down fa-1x" style='color: white'></i>
												</div>
											</td>
										{% elseif legalCase.status==status.completed %}
											<td style="background-color: #008000; color: #fff; text-align: center">
												<div title="{% trans %}Le dossier est complété {% endtrans %}" class="tooltip-test" data-placement="top">
													<i class="fa fa-thumbs-up fa-1x" style='color: white'></i>
												</div>
											</td>
										{% endif %}
									
										<td>
											<div class="icon">
												<a href="{{ path('app_customer_legal_case_revision', {id: legalCase.id}) }}" target="_blank" title="{% trans %}Revisez les détails du dossier{% endtrans %}" class="tooltip-test" data-placement="top"><i class="fa fa-pen fa-1x" style='color: primary'></i>
												</a>
												{{ " | " }}
												<a href='{{ path('app_customer_legal_case_delete', {id: legalCase.id}) }}' title="{% trans %}Supprimez le dossier{% endtrans %}" class="tooltip-test" data-placement="top"><i class="fa fa-trash fa-1x" style='color: primary'></i>
												</a>
											</div>
										</td>
										{% set legalCaseCount = legalCaseCount+1 %}
									</tr>
  								{% endfor %}  
							</tbody>
						</table>
					
						
						
						
						<div>
							<nav>
  								<ul class="pagination">
  									{% if currentPage == 1 %}
    									<li class="page-item disabled">
      										<a class="page-link" href="#" tabindex="-1">Precedent</a>
   										</li>
									{% else %}
		    							<li class="page-item">
      										<a class="page-link" href="{{ path('app_customer_legal_cases', {page: prevPage}) }}" tabindex="-1">Precedent</a>
   										</li>
									{% endif %}

    								<li class="page-item active">
      									<a class="page-link" href="#">{{ currentPage }}<span class="sr-only">(current)</span></a>
    								</li>
	
	  								{% if currentPage == pagesCount %}
    									<li class="page-item disabled">
      										<a class="page-link" href="#" >Suivant</a>
   										</li>
									{% else %}
		    							<li class="page-item">
      										<a class="page-link" href="{{ path('app_customer_legal_cases', {page: nextPage}) }}" >Suivant</a>
   										</li>
									{% endif %}
  								</ul>
							</nav>
						</div>
						
					{% endif %}
					
	
			</div> <!-- Beginning Of Main Col Div -->
		</div>   <!-- End Of Main Page Row -->
	</div><!-- Beginning of Main Page Container Div -->		
 

	<script type="text/javascript" src="{{ asset('build/assets/custom/js/modify_article_navigation_tabs.js') }}"></script> 
	
	
	
	{#<script id="navigationListItemsId" data-name="navigationLegalCaseId" src="{{ asset('build/navigationListItems.js') }}"></script>#}
	

		
	


{% endblock %}
